/* ---------------------COMMON CSS START ---------------------*/
:root{
    --primary-color:#FD4766;
    --secondary-color:#0e1525;
    --bg-dark-color:#091020;
    --bg-white-color:#fff;
    --gray-color:#c6c9d8bf;
    
    /* Text color */
    --primary-font:'Poppins',sans-serif;
    --primary-text:#FD4766;
    --text-gray:#c6c9d8bf;
    --text-whit:#fff;
    
}
/* ::-webkit-scrollbar-track{
    width: 6px;
} */

h1{
    font-size:45px;
    line-height: 65px;
    font-weight: 800;
    color: var(--text-whit);
}
h2 span{
    color: var(--primary-color);
}
h2{
    font-size: 38px;
    line-height:1.3;
    font-weight: 600;
    color: var(--text-whit);
}
h3{
    font-size: 19px;
    font-weight: 600;
    color: var(--text-whit);
}
h6{
    font-size: 15px;
    color: var(--text-whit);
    letter-spacing: 4px;
    display: block;
    text-transform: uppercase;
}
p{
    font-size: 16px;
    color: var(--text-whit);
    line-height: 28px;
    font-weight: 400;
}
.tittle{
    /* display: inline-block; */
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 20px; 
    color: var(--text-whit);
}
.main_btn{
    display: inline-block;
    padding: 10px 27px;
    background-color:transparent;
    border-radius: 25px;
    color: var(--text-gray);
    border: 2px solid var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    transition:0.4s;
    letter-spacing: 2px;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
}
.main_btn:hover{
    background-color: var(--primary-color);
    color:var(--text-whit);
    border-color: var(--primary-text);
    transform:scale(0.9) ;
}
body{
    scroll-behavior: smooth;
}

/* ---------------------COMMON CSS END--------------------- */


body{
    font-family:var(--primary-font);
    background-color: var(--secondary-color)
}

/*================================ NAVBAR SECTION START================================ */

.navbar .logo img{
    width:85px;
}
.navbar .nav-item{
    padding: 10px 0px;
}
.navbar .nav-link{
    position: relative;
    margin: 0 15px;
    color: var(--text-gray);
}
.navbar .nav-link::after{
    position: absolute;
    content: "";
    width:0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:var(--primary-color);
    transition: 0.4s;
}
.navbar .nav-link.active::after, 
.navbar .nav-link:hover::after{
    width: 100%;
}
.navbar .nav-link.active,
.navbar .nav-link:hover{
    color: var(--text-whit);
}
.navbar-toggler {
background-color:transparent;
color: var(--text-whit);
border:1px solid var(--gray-color);
box-shadow: none !important;
}
/*================================ NAVBAR SECTION End================================ */

/* ================================BANNER SECTION START================================ */
#banner img{
    max-width:100%;
    margin-bottom: 10px;
    height: auto;
    animation:img 0.4s infinite linear ;
    -webkit-animation:img  5.5s infinite linear ;
}
@keyframes img{
    0%{
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
    50%{
     transform: translateY(50px);
     -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
     -ms-transform: translateY(50px);
     -o-transform: translateY(50px);
}
    100%{
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
}
#banner a.main_btn{
    margin: 30px 15px 30px 0;
}
#banner h6{
    margin-bottom: 25px;
}
#banner h1{
    font-family: 'Josefin Sans',sans-serif ;
}
#banner h2{
    margin-bottom:15px;
}
#banner p{
    margin-bottom:10px;
}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px 0;

}

/* ================================BANNER SECTION END================================ */

/* =================================ABOUT SECTION START================================= */
/* #about .info h2{
    position: relative;
}
#about .heading::after{
    position: absolute;
    content: "";
    bottom:-3px;
    left: 0;
    width:22%;
    height: 2px;
    background-color: red;
    }
    #about .heading::before{
        position: absolute;
        content: "";
        bottom: 5px;
        left: 0;
        width:30%;
        height: 2px;
        background-color: red;
} */
#about .tittle{
    margin-top: 20px;
}
#about .info h2{
    padding-bottom: 20px;
}
#about .info .skill_bar{
    margin-top: 10px;
    position: relative;
}
#about .info .skill_bar .progress{
    height: 5px;
    margin-top: 10px;
}
#about .info .skill_bar h6{
    text-align: left;
}
#about .info .skill_bar span.label{
    position: absolute;
    top: 0;
    right:0;
    color: var(--primary-text);
}
#about .nav-pills{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 10px;
}
#about .nav-pills li{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius:50px ;
    transition: 0.4s;
}

#about .nav-pills .nav-link{
    color: var(--text-whit);
    border: none;
}
#about .nav-pills .nav-link.active{
    background-color:var(--primary-color);
    border-radius: 50px;
    border: none;
    color: var(--text-whit);
    transition: 0.4s;
}
#pills-experian{
    color: var(--text-whit);
}
/* =================================ABOUT SECTION END=================================== */



/* ==================================SERVICES SECTION START================================== */
#services .tittle{
    padding: 20px 0 30px 0;
}
#services .tittle h2{
    padding: 40px 0 10px 0;
}
#services .card{
    background:var(--bg-dark-color);
    cursor: pointer;
    transition: 0.7s;
}
#services .card:hover i{
    color: var(--primary-color);
}
#services .card:hover{
    transform: translateY(-5px);
}
#services .card i{
    font-size: 50px;
    color: var(--bg-white-color);
    padding: 10px;
    transition: 0.4s;
}
#services .card h3{
    padding: 10px;
}
#services .card p{
    padding: 10px;
}
/* ==================================SERVICES SECTION END==================================== */


/*================================== PORTFOLIO SECTION START ==================================*/
#portfolio{
    margin: 80px 0;
}
#portfolio .card{
    height: 100%;
    min-height: 450px;
    overflow: hidden;
    border: 1px solid var(--text-whit);
}
#portfolio h2{
    padding:10px  0 30px 0;
}
#portfolio .card span{
    transition:background-position 9s ease-in-out 0.1s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
#portfolio .card:hover span{
    background-position: bottom center;
}
/* ==================================PORTFOLIO SECTION END==================================== */

/* ====================================CONTACT SECTION START ====================================*/
#contact{
    margin: 20px 0 50px 0;
}
#contact .call_man img{
    width: 100%;
    height: 100%;
}
#contact .form-control{
    background-color: transparent;
    border-color: var(--gray-color);
    color: var(--text-gray);
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}
#contact .form-control:hover{
    border-color: var(--primary-color);
}

#contact .call_details{
    color: var(--text-gray);
    margin: 35px 0;
}
#contact .call_details a{
    font-weight: 700;
    color: var(--text-gray);
}
#contact h5{
    margin-top: 30px;
    margin-bottom: 10px;
}
/* ====================================CONTACT SECTION END==================================== */

/* ====================================FOOTER SECTION START==================================== */
#footer h2 a{
    color: var(--text-gray);
}
#footer .copy-right_text p span{
    color: var(--primary-color);
}
#footer .copy-right_text p{
    color: var(--text-gray);
}
#footer .social_icon ul li{
   margin: 5px;
}
#footer .social_icon ul li a i{
    width: 35px;
    height: 35px ;
    font-size: 18px;
    line-height: 35px;
    color: var(--text-whit);
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--text-gray);
    text-align: center;
    transition: 0.4s;
}
#footer .social_icon ul li a:hover i{
    color: var(--primary-text);
    border-color: var(--primary-text);
    transform:scale(0.9) ;
    -webkit-transform:scale(0.9) ;
    -moz-transform:scale(0.9) ;
    -ms-transform:scale(0.9) ;
    -o-transform:scale(0.9) ;
}
/* ====================================FOOTER SECTION END====================================== */



/* ================================SCROLL BTN SECTION START ================================*/
#scroll .container .scroll_btn a i{
    color: var(--text-whit);
}
#scroll .container .scroll_btn a i:hover{
    color: var(--primary-color);
}
#scroll .container .scroll_btn {
    width: 40px;
    height: 40px;
    background-color: var(--bg-dark-color);
    color: var(--text-whit);
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    position: fixed;
    bottom:50px ;
    cursor: pointer;
    transition: 0.4s;
    border: 2px solid var(--gray-color);
    display: none;
}
#scroll .container .scroll_btn.open{
    display: block;
}
#scroll .container .scroll_btn:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transform: translateY(-5px);
    
}

/* ================================SCROLL BTN SECTION END================================== */


/* ==============================CURSOR SECTION START============================== */
.cursor1{
    position: absolute;
    top: -100px;
    left: 0px;
    background-color:var(--primary-color);
    width:10px;
    height:10px;
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.cursor1.active{
    height: 30px;
    width: 30px;
    opacity: .5;
    background-color:var(--gray-color);
}
.cursor2.active{
    display: none;
}


.cursor2{
    position: absolute;
    top: -100px;
    left: 0px;
    width:40px;
    height:40px;
    border: 2px solid var(--primary-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1000;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
}
/* ================================CURSOR SECTION END============================== */